/* general styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* mobile style */
body{
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    
    
}

.card{
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
}

.QR-image{
    width: 100%;
    border-radius: 1rem;
    margin-bottom: 2rem;
    
   
}

#content-text{
    text-align: center;

    
    
}

h2{
    color: hsl(218, 44%, 22%);
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 16px;
   
}

p {
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    font-weight: 400;
    
  }

  .link-page{
    font-size: 2px;
    text-align: center;
    margin-top: 20px;
    color: hsl(220, 15%, 55%);
  }

  /* desktop styles */
  @media screen and (min-width:820px) {
    
    body{
       
        background-color: hsl(212, 45%, 89%);
        width: 100%;
        height: 100%;
        
        
    }
        
    .card{
        width: 30%;
    }
    

    h2{
        color: hsl(218, 44%, 22%);
        font-size: 32px;
        margin-bottom: 1rem;
        
    }

    p {
        font-size: 20px;
        margin-bottom: 1rem;
       
        
      }
  }